.header{
    margin-top: 60px;
}

.headertitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headerimg{
    width: 100%;
    margin-top: 80px;
    object-fit: cover;
    
}
.headertitlesm{
    position: absolute;
    top: 18%;
    font-size: 20px;
   
}

.headertitlelg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}